@import '@/assets/mixins.scss';

.header {
  padding: 20px 30px;
}

.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.link {
  padding: 10px;
  border-radius: 5px;
  transition: 0.15s ease-out;
  text-decoration: none;

  &:hover {
    @include InnerShadowSmall;
  }
}

.active {
  @include InnerShadowBig;

  &:hover {
    @include InnerShadowBig;
  }
}