@import '@/assets/mixins.scss';

.task {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.bodyTask {
    display: flex;
    gap: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 0;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;

    span {
        font-weight: 500;
    }
}

.checkbox {
    width: 30px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-end;
}

@include Tablet {
    .buttons {
        flex-direction: row;
    }
}