.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
}

.label textarea {
    resize: none;
    height: 100px;
}

.button {
    align-self: flex-end;
}