$Tabel: 768px;
$Laptop: 1024px;
$Desktop: 1366px;

@mixin Tablet {
  @media (min-width: $Tabel) {
    @content;
  }
}

@mixin Laptop {
  @media (min-width: $Laptop) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: $Desktop) {
    @content;
  }
}

@mixin ActiveState {
  outline-color: #8888;
}

@mixin InnerShadowBig {
  box-shadow: inset -3px -3px 6px 0px #fff8,
    inset 3px 3px 6px 0px #00000033;
}

@mixin InnerShadowSmall {
  box-shadow: inset -1px -1px 3px 0px #fff8,
    inset 1px 1px 3px 0px #00000033;
}